* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 80px;
}
header {
	background-color: lightgrey;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid grey;
}
h1 {
	font-size: 32px;
}
.head-master {
	text-align: right;
}
.title {
	position: absolute;
	top: -10px;
	left: 10px;
}
.hover {
	display: inline-block;
	font-size: 30px;
	padding-right: 10px;
}

a:hover {
	color: red;
}

.search-master {
	margin-bottom: 10px;
	margin-top: 30px;
}
.glass {
	height: 30px;
	width: 30px;
	border: 1px solid grey;
	vertical-align: bottom;
}
input {
	height: 30px;
	width: 400px;
	border: 1px solid grey;
}
label {
	display: block;
}